base {
  log_debug = on;
  log_info = on;
  log = "stderr";
  daemon = off;
  user = redsocks;
  group = redsocks;
  redirector = iptables;
}

redsocks {

  bind = "${docker_network_ip}:12345";

//  local_ip = 127.0.0.1;
//  local_port = 12345;

  relay = "${proxy_ip}:${proxy_port}";

  type = socks5;
}

